# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
contest
.mode
input
main
main.go
main.cpp
.vscode
test
include
local_examples

go.mod
go.sum
